.my-border{
    border: 1px solid black;
}
.my-wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.images-size{
    height: 470px;
}
body{
    background:rgb(99, 93, 92);
}
.card-img-top:hover{
    width: 19rem;
}